.card-open-positions{
 h2{
     @media only screen and (min-width: $desktop) and (max-width: $desktop-2xl){ 
         font-size: 21px !important;
         line-height: 29px;
     }
 }
 a{
     background-color: $color-1 !important;
     border: none !important;
 }
 h6{
     &:nth-child(3){
        font-size: 20px; 
        line-height: 26px; 
        max-width: 760px; 
        margin: 15px auto 0 auto;
        @media only screen and (min-width: $desktop) and (max-width: $desktop-2xl){ 
            font-size: 15px !important;
            line-height: 19px; 
        }
     }
     &:nth-child(4){
        // display: none;
        font-size: 22px !important; 
        line-height: 18px; 
        position: relative; 
        @media only screen and (min-width: $desktop) and (max-width: $desktop-2xl){ 
            display: none !important;
        }
      
     }
     &:nth-child(5){
        top: -15px;
        font-size: 15px !important; 
        line-height: 18px; 
        position: relative; 
        @media only screen and (min-width: $desktop) and (max-width: $desktop-2xl){ 
            display: none !important;
        }
      
 
     }
 }
}