footer {
    position: relative;
    & > div.container {
        display: none;
        position: relative;
        z-index: 2;
    }
}
.footer-logo {
    float: none !important;
    transition: all .2s;
    position: relative;
    top: -35px;
    @include center-block;
    width: 300px;
    max-width: 300px !important;
 
    @media only screen and (max-width: $tablet){
        max-width: 250px !important;
        top: -10px;
     }
}
div > {
    position: relative; 
    .pre-footer {
        padding: 0px;
        position: absolute;
        top: -$pre-footer-offset;
        width: 100%;
        height: $pre-footer-height;
        background-color: $color-2;
        color: $color-white;
        clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 90%, 0% 100%);
        -webkit-clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 100%, 0% 100%);
        z-index: 0;
        border-bottom: transparent;
        @media only screen and (max-width: $mobile){ 
            height: $pre-footer-height - 20px;
            top: -$pre-footer-offset + 21px;
        }
        &__inner{
            position: relative;
            top:1px;
            width: 100%;
            height: 100%;
            &__con{
                position: absolute;
                top: 0px;
                width: 100%;
                height: 100%;
                clip-path: polygon(0 70%, 50% 0, 100% 70%, 100% 100%, 0% 100%);
                -webkit-clip-path: polygon(0 70%, 50% 0, 100% 70%, 100% 100%, 0% 100%);
                -ms-clip-path: polygon(0 70%, 50% 0, 100% 70%, 100% 100%, 0% 100%);
                background-color: $color-4;
                @media only screen and (max-width: $mobile){
                    height: 102%;
                 }
            }
            &:after{
                position: absolute;
                width: 100%;
                height: 10px;
                content: '';
                bottom: 0px;
                left: 0;
                right: 0;
                background-color: $color-4;
            }
        }
    }
}
.footer-custom-container{
    position: relative;
    width: 100%;
    display: table;
    height: 100%;
    margin: 10px 0;
    position: realtive; 
    top: -5px;
    .et-social-icons-wrapper{
        position: absolute;
        display: table;
        height: 100%;
        top: 0px;
        max-height: 100%;
        right: $spacing-sm;
        @media only screen and (max-width: $tablet){
            position: relative;
            width: 100%;
        }
    }
    .et-social-icons{
        display: table-cell;
        vertical-align: center;
        @media only screen and (max-width: $tablet){
            position: relative;
            @include center-block($spacing-sm) 
         }
        li.et-social-rss > a::before{
            content: '\e09d' !important;
        }
    }
    
}

// Custom Footer List
.footer-custom-list{
    max-width: 1080px;
    width: auto;
    text-align: center;
    max-width: 100%;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    @media only screen and (max-width: $tablet){ 
        text-align: center;
    }
     p{
        display: inline-block;
        font-size: inherit;
        text-transform: uppercase;
        color: $color-white;
        @media only screen and (max-width: $mobile){
            font-size: 14px;
            color: $color-gray-2;
        }
    }
    ul {
        display: inline-block;
        margin-top: -5px;
        @media only screen and (max-width: $tablet){
            @include center-block(20px)
        }
        li{
            font-size: 12px;
            display: inline-block;
            font-size: inherit;
            font-family: $font-main;
            @media only screen and (max-width: $tablet){ 
                display: block;
                width: 100%;
                text-align: center;
            }
            a {
                color: $color-white;
            }

            &:before {
                content: ' | ';
                color: $color-2;
                margin: 0 $spacing-sm;
                display: inline-block;
                @media only screen and (max-width: $tablet){
                    content: '';
                }
            }
        }
    }
}