.col-float{
    float: left;
    clear: right;
    min-height: inherit;
    height: 100%;
    &--full{
        width: 100%;
    }
    &--half{
        width: 50%;
        min-height: inherit;
        @media only screen and (min-width: 250px) and (max-width: $desktop){
            width: 100% !important;
            min-height: auto;
            clear: both;
            
        }
  
    }
    &--two-third{
        width: 66%;
        min-height: inherit;
    }
    &--third{
        width: 33%;
        min-height: inherit;

    }
    &--quarter{
        width: 25%;
        min-height: inherit;

    }
}